/* RESET básico */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* ESTILO GENERAL */
body{
font-family:'Times New Roman', Times, serif;
background: linear-gradient(135deg,#0f0f0f,#1e1e1e);
color:white;
line-height:1.7;
padding:30px;
}

/* CONTENEDOR */
body{
max-width:1000px;
margin:auto;
}

/* TITULOS */
h1{
font-size:45px;
margin-bottom:30px;
color:rgb(20, 234, 234);
text-align:center;
}

h2{
margin-top:20px;
margin-bottom:10px;
color:rgb(20, 234, 234);
}

/* PARRAFOS */
p{
margin-bottom:20px;
font-size:18px;
}

/* IMAGEN */
img{
display:block;
image-rendering: optimizeQuality;

margin:20px auto;
border-radius:10px;
box-shadow:0 30px 40px rgba(0,0,0,0.6);
}

/* LISTAS */
ul, ol{
margin-left:40px;
margin-bottom:30px;
}

li{
margin-bottom:8px;
}

/* LINKS */
a{
color:rgb(20, 234, 234);
text-decoration:none;
font-weight:bolder;

}

a:hover{
color:rgb(20, 234, 234);
text-decoration:underline;
}

/* SECCION DE OTROS PELEADORES */
ul li a{
font-weight:bolder;
}

/* BOTON VOLVER */
p a[href="../Inicio.html"]{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:rgb(20, 234, 234);
color:rgb(0, 0, 0);
border-radius:10px;

}

p a[href="../Inicio.html"]:hover{
background:rgb(20, 234, 234);
color:rgb(0, 0, 0);
}


